# =========================
# ENTORNO VIRTUAL
# =========================
venv/
.venv/

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# JUPYTER NOTEBOOKS
# =========================
.ipynb_checkpoints/

# =========================
# MACOS
# =========================
.DS_Store

# =========================
# VISUAL STUDIO CODE
# =========================
.vscode/

# =========================
# LOGS
# =========================
*.log

# =========================
# STREAMLIT
# =========================
.streamlit/secrets.toml


# =========================
# DATOS MUY GRANDES
# (Descomenta si es necesario)
# =========================
# data/raw/
# data/processed/